@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .center {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
    }
    .money,h1{
      text-align: center;
    }
    .money{
      font-weight: bold;
      font-size: large;
    }
    .money-container{
      display: flex;
      flex-direction: row;
      margin: auto;
    }
    .piggy{
      margin: auto;
      padding-left: 1em;
    }
    .container{
      display: flex;
      justify-content: center;
      padding-top: 7em;
    }
    .buttons{
      display: flex;
      width: 60%;
      flex-direction: column;

    }
    .action-button{
      border-radius: 4px;
      padding: 6px 16px;
      font-weight: bold;
      border: 0px;
      color: rgb(255, 255, 255);
    }
    .invest-button{
      background-color: rgb(25, 118, 210);
    }
    
    .expense-button{
      background-color: rgb(246, 91, 95);
    }
    .expense-button[disabled]{
      background-color: black;
    }
    
  }